html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header>h1{
    font-weight: 400;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
    
}
li{
    list-style: none;
    font-size: 1.5rem;
}
ul{display: flex;
    justify-content:space-between ;

}
nav{
    position: relative;
    width: 22rem;
    top: 0.9rem;
}
.showcase_image{
    width: 95vw;
}
article{
    display: flex;
    margin: 1.5rem ;
}
.container{
    text-align: center;
    margin-right: 2rem;
    padding: 1rem;
}
p{
    font-size: 1.5rem
}
footer{
    
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
    height: 4rem;
    font-size: 1.5rem;
    align-items: center;
}
a{
    text-decoration: none;
}
a:hover{
color: red;
}